!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

%body
  .header
    .header_container
      #logo.left
        Think Alike
      %ul#nav.left
  %hr
  = yield
