!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

%body
  .header
    .header_container
      #logo.left= link_to image_tag('/images/logo.png'), root_path
      %ul#nav.left
        %li= link_to 'WORK', root_path
        |
        %li= link_to 'ABOUT', root_path
        |
        %li= link_to 'CONTACT', root_path
  %hr
  .content
    
    = yield
